* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

}

body, input, select, textarea, button {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media(max-width: 425px) {
  html {
    font-size: 50%;
  }
}